<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.2.0.0" />
  <package id="EntityFramework.CodeFirst.TestHelpers" version="0.1.3" />
  <package id="EntityFramework.Migrations" version="0.8.0.0" />
  <package id="Hammock" version="1.2.7" />
  <package id="Newtonsoft.Json" version="4.5.1" />
  <package id="TweetSharp" version="2.1.2" />
  <package id="WebActivator" version="1.0.0.0" />
</packages>